.tel, .form {
  margin-bottom: 50px;
  h2 {
    margin-bottom: 20px;
  }
} 

.tel {
  p {font-size: 14px;}
  .content {
    display: flex;
    align-items: center;
    border: 4px double #ccc;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    img {
      height: 36px;
      margin-right: 10px;
    }
    p {font-size: 36px;}
  }
}

.form {
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
    &::before {
      display: inline-block;
      font-size: 14px;
      font-weight: normal;
      line-height: 24px;
      color: #fff;
      border-radius: 12px;
      height: 24px; width: 50px;
      text-align: center;
      margin-right: 5px;
    }
    &.req::before {
      content: "必須";
      background-color: #ff420e;
    }
    &.opt::before {
      content: "任意";
      background-color: #80bd9e;
    }
  }
  
  input, select, textarea {
    display: block;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    &::placeholder {
      color: #ccc;
    }
  }
  .submit {
    input {
      display: block;
      width: 200px;
      padding: 15px 0;
      margin: 0 auto;
      text-align: center;
      background-color: #121212;
      color: #fff;
      border: none;
      position: relative;
    }
  }
}