#facility {
  ul {
    li {
      margin-bottom: 50px;
      h2 {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        img {
          width: 50px;
          margin-right: 10px;
        }
        p {font-size: 20px;}
      }
      p {font-size: 14px;}
      .text {padding: 10px 0;}
      .place {
        padding-top: 5px;
        border-top: 2px dotted #121212;
        span {
          padding: 0 5px;
          background-color: #121212;
          color: #fff;
        }
      }
    }
  }
}