#shop {
  .tab {
    display: flex;
    justify-content: space-between;
    li {
      width: 47%;
      padding: 15px;
      border: 2px solid #121212;
      margin-bottom: 10px;
      border-radius: 5px;
      text-align: center;
      font-weight: bold;
      &.active {
        background-color: #121212;
        color: #fff;
        padding-bottom: 25px;
        margin-bottom: 0;
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
  .content {
    border: 2px solid #121212;
    padding: 15px;
    .list {
      li {
        margin-bottom: 20px;
        h3 {
          margin-top: 10px;
        }
        ul {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          li {
            width: 48%;
            p {font-size: 14px;}
            .title {font-weight: bold;}
            .openclose {font-size: 12px;}
          }
        }
      }
    }
  }
  .floor {
    .button {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      li {
        width: 31%; height: 30px;
        border-radius: 15px;
        border: 2px solid #121212;
        text-align: center;
      }
    }
  }
  .category {
    .button {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 30px;
      li {
        width: 48.25%; height: 40px;
        border-radius: 20px;
        border: 2px solid #121212;
        text-align: center;
        margin-bottom: 10px;
        line-height: 35px;
      }
    }
  }
}