body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #121212;
}
img {
  display: block;
  max-width: 100%;
}
li {list-style: none;}
a {
  text-decoration: none;
  color: #121212;
}

header {
  z-index: 2;
  position: fixed;
  top: 0; left: 0; right: 0;
  height: 70px;
  background-color: #fff;
  padding: 0 20px;
  border-bottom: 1px solid #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  img {
    width: 140px;
    z-index: 3 !important;
    color: #ff0000;
  }
  .toggle-btn {
    width: 50px; height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    .hamburger {
      width: 30px; height: 20px;
      position: relative;
      span {
        width: 100%; height: 2px;
        position: absolute;
        background-color: #121212;
        transition: all 0.5s 0s ease;
        &:first-child {top: 0;}
        &:nth-child(2) {top: 9px;}
        &:last-child {bottom: 0px;}
      }
    }
    p {
      color: #121212;
      font-size: 12px;
    }
  }
  nav {
    width: 300px; height: 100vh;
    position: fixed;
    top: 0; left: -100%;
    background-color: rgba($color: #121212, $alpha: 0.9);
    transition: all 0.5s 0s ease;
    padding: 70px 20px;
    z-index: -1;
    ul {
      border-top: 1px solid #fff;
      padding-top: 20px;
      li {
        a {color: #fff;}
        padding: 5px 0;
      }
    }
  }
  &.open {
    img {fill: #fff;}
    .hamburger {
      span {
        &:first-child {
          top: 9px;
          transform: rotateZ(-45deg);
        }
        &:nth-child(2) {opacity: 0;}
        &:last-child {
          bottom: 9px;
          transform: rotateZ(45deg);
        }
      }
    }
    nav {
      left: 0;
    }
  }
}

main {
  padding-top: calc(70px + 40px);
  max-width: 450px;
  margin: 0 auto;
}

footer {
  ul {
    padding: 40px 20px;
    background-color: #eee;
    li {margin-bottom: 8px;}
  }
  .content {
    padding: 30px 20px;
    a {
      display: block;
      width: 140px;
      margin: 0 auto 30px;
    }
    .info {margin-bottom: 20px;}
  }
}

section {
  padding: 0 20px;
  margin-bottom: 100px;
  h1 {
    font-size: 28px;
    border-top: 3px solid #121212;
    border-bottom: 3px solid #121212;
    padding: 10px 0;
    margin-bottom: 40px;
  }
}